In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('./citizen.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userid       50000 non-null  object
 1   createddate  50000 non-null  object
 2   gender       49996 non-null  object
 3   age          49996 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.5+ MB

In [5]:
df.head()

,userid,createddate,gender,age
0,327cd302d9eea33f3e460be74009c5f1d092d8bc2cc91f...,2020-10-18 02:58:59.204000,Эрэгтэй,34.0
1,df42cd83d6621ae3dc53f95979585006e194aa39940d7d...,2020-10-18 02:58:59.281000,Эрэгтэй,38.0
2,0c24924e541eaa5bfe22e5587cf1b00cebfa20e395480d...,2020-10-18 02:58:59.294000,Эрэгтэй,47.0
3,cb50f6d8de079cd902cf6f200ad350b2fa42d48f51231f...,2020-10-18 02:58:59.304000,Эрэгтэй,30.0
4,cff98dabecba14996eb02a6deac5bbdf2e26e9529a62cf...,2020-10-18 02:58:59.312000,Эрэгтэй,36.0