In [2]:
import pandas as pd

In [ ]:
df = pd.read_excel('../excel-files/agency.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          656 non-null    object
 1   name         656 non-null    object
 2   isActive     656 non-null    bool
 3   createdDate  637 non-null    datetime64[ns]
 4   deleted      656 non-null    bool
dtypes: bool(2), datetime64[ns](1), object(2)
memory usage: 16.8+ KB

In [5]:
df.head()

,_id,name,isActive,createdDate,deleted
0,676545be1c3df26dd8b43b39,Үндэсний аудитын газар,True,2024-12-20 18:24:30.306,False
1,6729c2f52425177b5f28b3ef,Биеийн тамир спортын улсын хороо,True,2024-11-05 15:02:45.274,False
2,671745d072ca3c12cfa54049,"Цагдаа, Дотоодын цэргийн сургалтын нэгдсэн төв",True,2024-10-22 14:28:00.174,False
3,66f12bfa72ca3c12cfa53c13,"Хөрөнгө оруулалт, худалдааны газар",True,2024-09-23 16:51:38.578,False
4,66f12bc3e57bf7452c52ed08,"Эдийн засаг, хөгжлийн яам",True,2024-09-23 16:50:43.743,False

In [6]:
df.isnull().sum()

_id             0
name            0
isActive        0
createdDate    19
deleted         0
dtype: int64