In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('../excel-files/emon.service.xlsx')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          2620 non-null   object
 1   name         2620 non-null   object
 2   description  1962 non-null   object
 3   govAgencyId  2620 non-null   object
 4   serviceType  2620 non-null   object
 5   stageType    2620 non-null   object
 6   createdDate  2620 non-null   object
dtypes: object(7)
memory usage: 143.4+ KB

In [13]:
df.head()

,_id,name,description,govAgencyId,serviceType,stageType,createdDate
0,67b42bb4f35ad11730b1b1a8,Монголбанкнаас зарласан ханшийн лавлагаа,Монгол банкнаас зарласан ханшийн лавлагаа,5d819a3237396004a7816793,ENQUIRY,ONE,2025-02-18 14:42:28.111000
1,67ac0a56a7e3b127d382ce48,Дүрс бичлэгийн техник хэрэгсэл суурилуулсан та...,Монгол Улсын Аж ахуй үйл ажиллагааны тусгай зө...,61ad739b72d08b08b4d78a60,BOOKING,TWO,2025-02-12 10:41:58.939000
2,6760f6be2d480450bb5a3a28,Төрийн аудитын байгууллагын аудитын сэдэвт сан...,Хараат бус төрийн аудитын үр дүнд Засгийн газр...,676545be1c3df26dd8b43b39,REGISTRATION,ONE,2024-12-17 11:58:22.755000
3,673aa70b45d45722ab983133,Төрийн албанд ажиллаж буй албан хаагчийн тодор...,Иргэн Төрийн албан хаагч ажиллаж буй мэдээллээ...,61762b385b42465705c75588,ENQUIRY,ONE,2024-11-28 15:13:40.180000
4,673aa6b845d45722ab983131,Төрийн албан хаагчийн цалингийн тодорхойлолт,Иргэн Төрийн албан хаагч цалингийн мэдээллээ т...,61762b385b42465705c75588,ENQUIRY,ONE,2024-11-28 15:13:47.103000

In [18]:
duplicated_services = df[df.duplicated(subset=['name', 'description', 'govAgencyId'], keep=False)]
duplicated_services.info()
duplicated_services.to_csv('duplicated.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 1254 to 1928
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          14 non-null     object
 1   name         14 non-null     object
 2   description  14 non-null     object
 3   govAgencyId  14 non-null     object
 4   serviceType  14 non-null     object
 5   stageType    14 non-null     object
 6   createdDate  14 non-null     object
dtypes: object(7)
memory usage: 896.0+ bytes