In [2]:
import pandas as pd

In [ ]:
df = pd.read_excel('../excel-files/request_log.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   requestid      1048575 non-null  object
 1   status_action  1048575 non-null  object
 2   createddate    1048575 non-null  object
 3   agencyid       112838 non-null   object
dtypes: object(4)
memory usage: 32.0+ MB

In [5]:
df.head()

,requestid,status_action,createddate,agencyid
0,5f5242d2d211cb1d5f2a0bb2,NEW,2020-09-04 21:36:18.733000,5f3f4291addf3d48a3dff5ae
1,5f5242d2d211cb1d5f2a0bb2,SUBMITTED,2020-09-04 21:38:50.813000,5f3f4291addf3d48a3dff5ae
2,5f52f75374038f778094e1a5,NEW,2020-09-05 10:26:27.022000,5f3f4291addf3d48a3dff5ae
3,5f52f75374038f778094e1a5,SUBMITTED,2020-09-05 10:28:31.212000,5f3f4291addf3d48a3dff5ae
4,5f5316b774038f778094e3ad,NEW,2020-09-05 12:40:23.239000,5f3f4291addf3d48a3dff5ae

In [6]:
status_action_counts = df['status_action'].value_counts()
status_action_counts

status_action
NEW                     520473
SUBMITTED               506195
PROCESSING                7538
COMPLETED                 5169
APPROVE                   4280
PRINTED                   1560
REJECTED                  1419
PRINTING                   731
ATTACH                     370
REASSIGN                   346
EDIT                       105
HANDED_FOR_DELIVERY         95
FILE_REQUESTED              75
GENERATE_CERTIFICATE        62
FILE_ATTACHED               53
PENDING                     32
APPROVAL_REQUEST            20
USER_CANCELED               15
EDITED                      11
ASSIGN                      10
GRANT                       10
CREATE_BANK_ACCOUNT          3
BANK_ACCOUNT_BALANCE         3
Name: count, dtype: int64