In [27]:
import pandas as pd

In [28]:
df = pd.read_excel('../excel-files/request_log.xlsx')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   requestid      1048575 non-null  object
 1   status_action  1048575 non-null  object
 2   createddate    1048575 non-null  object
 3   agencyid       112838 non-null   object
dtypes: object(4)
memory usage: 32.0+ MB

In [30]:
df.head()

,requestid,status_action,createddate,agencyid
0,5f5242d2d211cb1d5f2a0bb2,NEW,2020-09-04 21:36:18.733000,5f3f4291addf3d48a3dff5ae
1,5f5242d2d211cb1d5f2a0bb2,SUBMITTED,2020-09-04 21:38:50.813000,5f3f4291addf3d48a3dff5ae
2,5f52f75374038f778094e1a5,NEW,2020-09-05 10:26:27.022000,5f3f4291addf3d48a3dff5ae
3,5f52f75374038f778094e1a5,SUBMITTED,2020-09-05 10:28:31.212000,5f3f4291addf3d48a3dff5ae
4,5f5316b774038f778094e3ad,NEW,2020-09-05 12:40:23.239000,5f3f4291addf3d48a3dff5ae

In [31]:
df_unique = df.drop_duplicates(subset=['requestid'], keep='first')
df_unique.head()

,requestid,status_action,createddate,agencyid
0,5f5242d2d211cb1d5f2a0bb2,NEW,2020-09-04 21:36:18.733000,5f3f4291addf3d48a3dff5ae
2,5f52f75374038f778094e1a5,NEW,2020-09-05 10:26:27.022000,5f3f4291addf3d48a3dff5ae
4,5f5316b774038f778094e3ad,NEW,2020-09-05 12:40:23.239000,5f3f4291addf3d48a3dff5ae
6,5f5354f65bcf022f554bd6d9,NEW,2020-09-05 17:05:58.618000,5dc277fc9db1d22d102128f6
8,5f5464ec74038f778094ebe7,NEW,2020-09-06 12:26:20.893000,5f3f4291addf3d48a3dff5ae

In [32]:
created_date_count = df_unique['createddate'].value_counts()
created_date_count

createddate
2024-08-05 14:18:55.168000    2
2023-12-12 16:56:59.724000    2
2024-11-01 15:43:53.133000    2
2022-10-12 14:31:23.633000    2
2024-03-02 14:55:09.580000    2
                             ..
2021-09-28 19:10:15.743000    1
2021-11-11 09:22:47.273000    1
2021-09-27 15:42:10.812000    1
2021-11-10 16:49:08.494000    1
2021-09-28 17:29:47.220000    1
Name: count, Length: 520451, dtype: int64

In [33]:
df_unique['createddate'] = pd.to_datetime(df_unique['createddate'])

def get_season(month):
  if month in [12, 1, 2]:
    return 'winter'
  elif month in [3, 4, 5]:
    return 'spring'
  elif month in [6, 7, 8]:
    return 'summer'
  else:
    return 'fall'

df_unique['season'] = df_unique['createddate'].dt.month.apply(get_season)
df_unique['month'] = df_unique['createddate'].dt.month

season_counts = df_unique['season'].value_counts().sort_values()
month_counts = df_unique['month'].value_counts().sort_values()

print(season_counts)
print("=========================")
print(month_counts)

season
winter    105505
spring    127227
summer    136618
fall      151128
Name: count, dtype: int64
=========================
month
12    27800
2     29204
3     36091
7     36381
4     40497
10    43368
11    44310
6     47788
1     48501
5     50639
8     52449
9     63450
Name: count, dtype: int64

/tmp/ipykernel_13640/3389392669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['createddate'] = pd.to_datetime(df_unique['createddate'])
/tmp/ipykernel_13640/3389392669.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['season'] = df_unique['createddate'].dt.month.apply(get_season)
/tmp/ipykernel_13640/3389392669.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['month'] = df_unique['createddate'].dt.month